body{
  direction: rtl;
  color: #0b1542;
  /* font-style: normal; */
  font-family: 'Assistant', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  /* text-align: center; */
  width: 90%;
  margin: 0 auto;
  /* font-size: larger; */
  overflow-x: hidden;
}
h1{
  text-align: center;
}
p{
  margin-bottom: 0px;
  margin-top:0px ;
}
.circle-button {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  border: 8px solid #0b1542; /* כחול כהה */
  background: white;
  color: #e53935; /* אדום */
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  line-height: 1.2;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.buttons-wrapper {
  display: flex;
  flex-wrap: wrap; /* שיהיה גם ירידת שורות במסכים קטנים */
  justify-content: center; /* מרכז את כל הכפתורים */
  gap: 5px; /* רווח בין כפתור לכפתור */
  margin-top: 20px;
}
.circle-button::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 6px solid #e53935; /* אדום פנימי */
  border-radius: 50%;
  /* box-sizing: border-box; */
}
.big-blue{
  margin-top: 30px;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}
.red-button {
  display: inline-block;
  background-color: #e53935; /* אדום */
  color: white; /* צבע הטקסט */
  font-size: 38px; /* גודל פונט */
  font-weight: bold; /* מודגש */
  text-decoration: none; /* בלי קו מתחת */
  padding: 5px 10px; 
  border-radius: 40px; /* עיגול פינות גדול */
  text-align: center;
  width:max-content;
  margin: 30px;
  padding-left: 40px;
  padding-right: 40px;
  /* cursor: pointer; */
 
}


.center-container {
  display: flex;
  justify-content: center; /* ממקם את הכפתור במרכז אופקית */
  
  
}

#header{
  width: 80%;
  margin: 0 auto;
}
#rotating-headers{
position: relative;
text-align: center;
background-color: #e53935;
color: #ffffff;
padding-top: 2px;

}
#rotating-headers> h2{
margin-bottom: 0px !important;
font-weight: 400;
}
#static-header{
position: relative;
background-color: #0c143c;
color: #ffffff;
font-size: 170%;
}
#static-header> h1{
margin-top: 0px !important;
margin-bottom: 0px !important;
}
#text{
display: flex;
justify-content: center;
flex-direction: column;
}

.red{
color: #e53935;
margin-top: 0px;
margin-bottom: 0px;
}
.red2{
  font-weight: bold;
  color: #e53935;
  font-size: 25px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  }
  #recommendation2{
  position: relative;
  border-right: 6px solid #000000;
  border-left: 6px solid #000000;
  border-radius: 100px;
  padding: 0px  160px 0px 50px;
  /* direction: rtl; */
  text-align: right;
  /* font-family: Arial, sans-serif; */
   /* max-width: 80%;  */
  margin: auto;
  overflow: hidden;
  width: 80%;
  color: #e53935;
  /* height: min-content; */
  }
  

 #recommendation2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 4px;
  background-color: black;
}

#recommendation2::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 4px;
  background-color: black;
}

  
  
  .quote-mark-top {
    color: black;
    /* font-size: 60px; */
    /* top: 10px;
    left: 10px; */
  }
  
  .quote-mark-bottom {
    color: black;
    bottom: 10px;
    right: 10px;
    transform: rotate(180deg);
  }
  .author {
    writing-mode: vertical-rl; /* כתיבה מלמעלה למטה */
    transform: rotate(180deg); 
    position: absolute;
     top: 45%;
    right: 70px; 
    /* transform: translateY(-50%) rotate(90deg); */
    /* font-family: 'cursive';  */
    /* font-size: 24px; */
    /* color: navy; */
    text-align: left;
  } 
  
   .author .small_name {
    font-size: 20px;
  }
  .author .big_name {
    font-size: 40px;
    color: #0b1542;
  }
  
  th{
    color: #e53935;
  }
  h4{
    margin-bottom: 0px;
  }
ul{
text-align:right !important;
list-style-type: none; /* מסיר את הנקודות */
padding-left: 0; /* מסיר את הרווח השמאלי */
}
ul li {
  position: relative;
  padding-right: 25px; /* מרווח לצורך המעוין */
  /* font-size: 16px; */
  /* display: inline-block; */
}

ul li::before {
  content: ''; /* ללא תוכן טקסטואלי */
  position: absolute;
  right: 0;
  top: 15%;
  width: 0;
  height: 0;
  /* transform: translateY(-50%);  */
  border-left: 5px solid transparent; /* יצירת הצלעות */
  border-right: 5px solid transparent;
  border-top: 10px solid black; 
  /* border-bottom: 10px solid ; הקודקוד של המעוין */
 
}
/* #recommendations {
  display: flex;
  gap: 50px; 
  flex-wrap: wrap;
   align-items: flex-start;  
   /* width: 100%; 
} */
.quote-box {
  font-family: 'Varela Round', sans-serif;
  display: flex;
  border: 2px solid #0b1542;
  direction: rtl;
  position: relative;
  overflow: hidden;
  margin: 20px;
  height: fit-content;
  position: relative;
  font-family: 'Guttman Yad', sans-serif;
  
}
.side-text {
  writing-mode: vertical-rl; /* כתיבה מלמעלה למטה */
  transform: rotate(180deg); /* להפוך את הטקסט */
  background-color: #e53935; /* אדום */
  color: white;
  padding: 20px 10px;
  font-weight: bold;
  font-size: 20px;
  /* text-align: center; */
 height: fit-content;
  position: relative;
  right: 5px;
}


.main-text p {
  /* margin: 0; */
  padding-right: 20px;
  color: red;
  font-size: 18px;
  position: absolute;
  bottom: 70px
}

.main-text p span {
  color: #e53935; /* אדום */
}

.quote-mark {
  font-size: 100px;
  color: #0b1542;
  position: relative;
  bottom: 40px;
}
.quote-mark-end{
  font-size: 100px;
  color: #0b1542;
  position: absolute;
    top: 100px;
    left: 10px;
  
}
.bottom-name {
  background-color: #0b1542; /* */
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;

  /* margin-top: 10px; */
}
#btn{
cursor: pointer;
}

.blue {
  color: #0c143c;
  text-align: center;
}

.unbold {
  font-weight: 400;
}

#logos {
  margin: 16px;
  display: flex;
  justify-content: space-between;
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#rotating-headers.slide-in {
  animation: slideInFromLeft 2s ease-out forwards;
}
#static-header.slide-in {
  animation: slideInFromLeft 1s ease-out forwards;
}
.menu-item{
  background-color: #0c143c;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1.2;
  margin:4px
}
#menu{
  margin: 16px;
  text-align: center;
}
.menu-item_end{
  background-color: #0c143c;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  width: fit-content;
  /* padding-left: 8px; */
  /* padding-right: 8px; */
  /* line-height: 1.2; */
  margin:0 auto;
  padding: 10px;
  font-family: 'Guttman Yad-Brush', sans-serif;
  /* text-align: center; */
 

}
#advantages{
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap; /* מאפשר ירידת שורות */
  justify-content: center; /* מרכז את האלמנטים */
  gap: 80px; /* רווח בין האלמנטים */
}
#advantages > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* <<< השורה החשובה */
}
#bottom-box{
  background-color: #0c143c;
  color: #ffffff;
  margin: 16px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
#inner-bootom-box{
  padding: 20px;
  font-family: 'Guttman Yad', sans-serif;
  /* font-family: 'Gumman ', sans-serif !important; */
}
.li_red{
  color: #e53935;
}
.light-blue{
  color: #3366cc;
}
#ben-noon, #hachsharat-martzim{
  border-bottom: 4px solid #0c143c;
  position: relative; /* or absolute/fixed if needed */
  width: 100vw; /* 100% of the viewport width */
  right: -5vw; /* offset to cancel body’s 90% centering */
}
.within{
  width:90% !important;
  margin:0 auto;
  font-family: 'Guttman Yad-Brush', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*  */

#ben-noon {
  border-bottom: 4px solid #0c143c;
  position: relative; /* Important for absolute positioning of the h3 */
  width: 100vw;
  right: -5vw;
  padding-bottom: 15px; /* Add some space below the text */
  border-top: none; /* Remove top border */
  border-left: none; /* Remove left border */
  border-right: none; /* Remove right border */
}
#hachsharat-martzim{
  border-bottom: 4px solid #0c143c;
  position: relative; /* Important for absolute positioning of the h3 */
  width: 100vw;
  right: -5vw;
  padding-bottom: 15px; /* Add some space below the text */
  border-top: none; /* Remove top border */
  border-left: none; /* Remove left border */
  border-right: none; /* Remove right border */
}

#ben-noon h3.menu-item_end {
  padding: 0 20px; /* Add some padding around the text */
  position: absolute; /* Position it relative to the nearest positioned ancestor */
  bottom: -6px; /* Adjust this value to move it up or down */
  left: 15%; /* Position it from the left */
  transform: translateY(50%); /* Vertically align the middle of the h3 to the border */
}
#hachsharat-martzim h3.menu-item_end {
  padding: 0 20px; /* Add some padding around the text */
  position: absolute; /* Position it relative to the nearest positioned ancestor */
  bottom: -6px; /* Adjust this value to move it up or down */
  left: 40%; /* Position it from the left */
  transform: translateY(50%); /* Vertically align the middle of the h3 to the border */
}
#questions{
  display: flex;
  width: 100vw;
}

